* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  height: 100%;
  width: 100%;
  background-color: royalblue;
}

body {
  display: flex;
  anchor-name: --navActive;
  align-items: center;
  justify-content: center;
}

/* main {
  background-color: black;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
} */

.box {
  padding: 15px 20px;
  border-radius: 7px;
  /* background-color: royalblue; */
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: bold;
}

.box:hover {
  anchor-name: --navActive;
  /* width: 100px; */
}

.anchor {
  background-color: rgb(68, 68, 68);
  border-radius: anchor(border-radius);
  position: absolute;
  position-anchor: --navActive;
  top: anchor(top);
  left: anchor(left);
  bottom: anchor(bottom);
  right: anchor(right);
  pointer-events: none;
  mix-blend-mode: color;
  transition: all 0.2s linear;
}
