* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  height: 100%;
  width: 100%;
}

main {
  height: 100%;
  width: 100%;
  background-color: rgb(0, 0, 0);
  display: flex;
  align-items: center;
  justify-content: center;
}
@property --turn {
  syntax: "<angle>";
  initial-value: 0deg;
  inherits: false;
}
.card {
  height: 400px;
  box-sizing: content-box;
  width: 300px;
  background: linear-gradient(to right, black) padding-box,
    conic-gradient(from var(--turn), black, rgb(255, 0, 123)) border-box;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    cursor: none;

  img {
    align-self: center;
    width: 80%;
  }
  color: white;

  h2 {
    font-size: 30px;
  }
  p {
    font-size: 12px;
  }
  gap: 13px;
  padding: 13px;
  animation: cult 1.2s linear infinite;
  transition: all 0.1s linear;
}

.card:hover {
  box-shadow: 0 0 2.5rem rgb(255, 0, 123);
  border: 5px solid transparent;
  color: rgb(255, 0, 123);
  text-shadow: 0 0 1rem rgb(255, 0, 123);
}
body:has(.card:hover) .card img {
  filter: drop-shadow(0 0 4rem rgb(255, 0, 123));
}

@keyframes cult {
  from {
    --turn: 0deg;
  }
  to {
    --turn: 360deg;
  }
}
