* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}
html,
body {
  height: 100%;
  width: 100%;
  background-color: rgb(36, 36, 36);
}

main {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  height: 100vh;
  width: 100%;
  overflow-y: scroll;
  scroll-snap-type: y mandatory;
  scrollbar-width: none;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 14px;
  padding: 10px 0;
}

.reel {
  scroll-snap-align: center;
  flex: none;
  height: 97vh;
  border-radius: 7px;
  overflow: hidden;
}

video {
  height: 100%;
  background-position: center;
}
