* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}
html,
body {
  height: 100%;
  width: 100%;
  background-color: rgb(36, 36, 36);
}

main {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  height: 100vh;
  width: 100%;
  overflow-y: scroll;
  scroll-snap-type: y mandatory;
  scrollbar-width: none;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 14px;
  padding: 10px 0;
}

.reel {
  scroll-snap-align: center;
  flex: none;
  height: 97vh;
  border-radius: 7px;
  overflow: hidden;
  display: flex;
  gap: 12px;
  position: relative;
}

video {
  height: 100%;
  background-position: center;
}

.action {
  display: flex;
  align-self: flex-end;
  flex-direction: column;
  padding-bottom: 40px;
  gap: 20px;

  div {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: whitesmoke;
    gap: 4px;
    font-size: small;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    .active {
      background-color: rgb(255, 255, 255);
      color: black;
    }
    .nonactive {
      background-color: rgba(48, 48, 48, 0.707);
    }
    i {
        background-color: rgba(48, 48, 48, 0.707);
      padding: 15px;
      font-size: 20px;
      border-radius: 50%;
      color: white;
    }
  }
}

.dets {
  position: absolute;
  color: white;
  bottom: 10px;
  left: 10px;
  gap: 5px;
  display: flex;
  flex-direction: column;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;

  img {
    height: 30px;
    width: 30px;
    object-fit: cover;
    border-radius: 50%;
  }
  .inside {
    display: flex;
    align-items: center;
    gap: 5px;
    // justify-content: center;
  }

  .channel {
    font-weight: 500;
    // background-color: rgba(44, 43, 43, 0.462);
    text-shadow: 0 0 3rem rgb(0, 0, 0);
    display: inline-block;
    padding: 3px;
    border-radius: 3px;
  }
  .title {
    // background-color: rgba(44, 43, 43, 0.462);
    text-shadow: 0 0 3rem black;
    display: inline-block;
    padding: 3px;
    font-size: small;
    border-radius: 3px;
    max-width: 300px;
  }
}
