* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  height: 100%;
  width: 100%;
}

@font-face {
  font-family: horror;
  src: url(./Blood\ Victim\ Zombie.ttf);
}

@mixin hover-style($n){
    .section$1:hover{
        flex-grow: 2;
    }
}

main {
  display: flex;
  height: 100%;
  width: 100%;

  section {
    height: 100%;
    background-color: aqua;
    border: 2px solid black;
    flex-grow: 1;
    @include 

    img{
        height: 100%;
        width: 100%;
        object-fit: cover;
        object-position: center;
    }
  }

 
}
