* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  height: 100%;
  width: 100%;
}

@font-face {
  font-family: horror;
  src: url(./Blood\ Victim\ Zombie.ttf);
}

main {
  display: flex;
  height: 100%;
  width: 100%;

  section {
    height: 100%;
    background-color: aqua;
    border: 2px solid black;
    flex-grow: 1;
    background-size: cover;
    background-position: center;
  }

  .section1 {
    background-image: url("https://plus.unsplash.com/premium_photo-1686054306703-fe68a1b0a7aa?w=600&auto=format&fit=crop&q=60&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxmZWF0dXJlZC1waG90b3MtZmVlZHw2fHx8ZW58MHx8fHx8");
  }

  .section1 {
    background-image: url("https://plus.unsplash.com/premium_photo-1686054306703-fe68a1b0a7aa?w=600&auto=format&fit=crop&q=60&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxmZWF0dXJlZC1waG90b3MtZmVlZHw2fHx8ZW58MHx8fHx8");
  }

  .section1 {
    background-image: url("https://plus.unsplash.com/premium_photo-1686054306703-fe68a1b0a7aa?w=600&auto=format&fit=crop&q=60&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxmZWF0dXJlZC1waG90b3MtZmVlZHw2fHx8ZW58MHx8fHx8");
  }

  .section1 {
    background-image: url("https://plus.unsplash.com/premium_photo-1686054306703-fe68a1b0a7aa?w=600&auto=format&fit=crop&q=60&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxmZWF0dXJlZC1waG90b3MtZmVlZHw2fHx8ZW58MHx8fHx8");
  }

  .section1 {
    background-image: url("https://plus.unsplash.com/premium_photo-1686054306703-fe68a1b0a7aa?w=600&auto=format&fit=crop&q=60&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxmZWF0dXJlZC1waG90b3MtZmVlZHw2fHx8ZW58MHx8fHx8");
  }

  section:hover {
    flex-grow: 3;
  }
}
