@mixin center() {
  display: flex;
  justify-content: center;
  align-items: center;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: horror; /* Custom name for your font */
  src: url(./Blood\ Victim\ Zombie.ttf); /* Path to font file */
}

html,
body {
  height: 100%;
  width: 100%;
  background-color: rgb(38, 38, 38);
}

.quote::before {
  content: "<"; /* Adds opening quote */
  font-size: 2em;
  color: #999;
}

.quote::after {
  content: ">"; /* Adds closing quote */
  font-size: 2em;
  color: #999;
}

.icon::before {
  content: "★"; /* Adds star icon before text */
  display: inline-block;
  padding: 15px;
  color: white;
}

.section2::selection {
  background-color: #ff6b6b; /* Color when text is highlighted */
  color: white;
}

.section2 {
  p::selection {
    background-color: yellow; /* Specific to paragraphs */
    color: black;
  }
}

.section3 {
  // text-indent: 50px;
  // letter-spacing: 5px;
  // text-align: center;

  p {
    // word-break: break-all;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-style: italic;
  }
}

.section4 {
  height: 80px;
  width: 80px;
  background-color: #ff6b6b;
  border-radius: 6px;
  opacity: 0.2;
  // filter: blur(1px);
  -webkit-backdrop-filter: blur(10px);
}

.section4 {
  overflow: hidden;
  .child {
    height: 30px;
    width: 30px;
    background-color: crimson;
    transform: translate(100px);
    // position: relative;
  }
}

.section5 {
  background-image: url(https://cdn.pixabay.com/photo/2018/01/14/23/12/nature-3082832_1280.jpg);
  background-size: cover;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;

  h2 {
    font-family: horror;
    color: white;
    padding: 5px 10px;
    border-radius: 10px;
    // opacity: 0.5;

    backdrop-filter: blur(2px);
  }
}

.section6 {
  padding-top: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  perspective: 100px;

  .box {
    height: 100px;
    width: 150px;
    background-image: url(https://cdn.pixabay.com/photo/2018/01/14/23/12/nature-3082832_1280.jpg);
    background-size: cover;
    background-position: center;
    border: 3px solid rgb(49, 49, 49);
    // border-radius: 5px;
    transform: rotateY(45deg);
  }
}

.section7 {
  @include center();

  h1 {
    background-image: url(https://cdn.pixabay.com/photo/2018/01/14/23/12/nature-3082832_1280.jpg);
    background-size: cover;
    background-position: center;
    background-clip: text;
    color: transparent;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  }
}

.section8{
  height: 200;
}
