* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  height: 100%;
  width: 100%;
}

@font-face {
  font-family: horror;
  src: url(./Blood\ Victim\ Zombie.ttf);
}

main {
  display: flex;
  height: 100%;
  width: 100%;
  gap: 20px;

  section {
    height: 100%;
    background-color: aqua;
    flex-grow: 1;
    background-size: cover;
    background-position: center;
    transition: all cubic 0.8s;
  }

  .section1 {
    background-image: url("https://plus.unsplash.com/premium_photo-1686054306703-fe68a1b0a7aa?w=600&auto=format&fit=crop&q=60&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxmZWF0dXJlZC1waG90b3MtZmVlZHw2fHx8ZW58MHx8fHx8");
  }

  .section2 {
    background-image: url("https://images.unsplash.com/photo-1765063260560-dbde917b296b?w=600&auto=format&fit=crop&q=60&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxmZWF0dXJlZC1waG90b3MtZmVlZHwxMHx8fGVufDB8fHx8fA==");
  }

  .section3 {
    background-image: url("https://images.unsplash.com/photo-1765194493167-6c7d3ca0bba9?w=600&auto=format&fit=crop&q=60&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxmZWF0dXJlZC1waG90b3MtZmVlZHwxNHx8fGVufDB8fHx8fA==");
  }

  .section4 {
    background-image: url("https://images.unsplash.com/photo-1765242115312-7a27f513ec03?w=600&auto=format&fit=crop&q=60&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxmZWF0dXJlZC1waG90b3MtZmVlZHwxOXx8fGVufDB8fHx8fA==");
  }

  .section5 {
    background-image: url("https://images.unsplash.com/photo-1765207287803-827decc32f9f?w=600&auto=format&fit=crop&q=60&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxmZWF0dXJlZC1waG90b3MtZmVlZHwyN3x8fGVufDB8fHx8fA==");
  }

  section:hover {
    flex-grow: 2;
  }
}
