* {
  margin : 0;
  padding : 0;
  box-sizing : border-box;
}
html,
body {
  height : 100%;
  width : 100%;
  background-color: rgb(38, 38, 38);
}

.quote::before {
  content: "<"; /* Adds opening quote */
  font-size: 2em;
  color: #999;
}

.quote::after {
  content: ">"; /* Adds closing quote */
  font-size: 2em;
  color: #999;
}

.icon::before {
  content: "★"; /* Adds star icon before text */
  display: inline-block;
  padding: 15px;
  color: white;
}

.section2 {
  
}
